<div class="top contents">
  <!-- 名前とアイコンをまず登録してもらう -->
  <% if signed_in? %>
    <% unless current_user.full_profile? %>
      <div class="header_top panel panel-default col-lg-12 no-profile" style="padding:100px;">
        <p>ご登録ありがとうございます！まずはプロフィール設定をしましょう！</p>
        <%= link_to "プロフィール登録", edit_user_path(current_user), { class: "btn btn-lg" } %>
      </div>
    <% end %>
  <% end %>
  <div class="top-img">
    <%= image_tag('top.jpeg') %>
    <p class="text">What's in your pouch?</p>
  </div>

  <div class="top-text">
    <h4>毎日のメイクをコーディネイト</h4>
    <%= image_tag('cosmekko_logo.jpeg', :class => "logo") %>
    <p>同じコスメを持っている<br>ユーザーとつながれます</p>
  </div>
  <div class="top-search">
    <% if signed_in? %>
    <span class="search_link"><%= link_to "コスメを検索","/items/search" %></span>
    <% else %>
    <span class="search_link"><%= link_to "コスメを検索", new_user_session_path %></span>
    <% end %>
  </div>
  <p>おすすめユーザーのポーチを見てみる</p>
  <%= image_tag('cosmekko_logo.jpeg', :class => "logo") %>
  <% @users.each do |user| %>
     <ul>
      <div class="col-xs-4">
        <li><%= user.user_name %></li>
        <li><%= link_to image_tag(user.icon, :class => "other_user_icon"),  user_path(user.id) %></li>
      </div>
      </ul>
    <% end %>
  </div>
</div>
<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flexslider-min.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
