<div class="top contents">
  <!-- 名前とアイコンをまず登録してもらう -->
  <% if signed_in? %>
    <% unless current_user.full_profile? %>
      <div class="header_top panel panel-default col-lg-12 no-profile" style="padding:100px;">
        <p>ご登録ありがとうございます！まずはプロフィール設定をしましょう！</p>
        <%= link_to "プロフィール登録", edit_user_path(current_user), { class: "btn btn-lg" } %>
      </div>
    <% end %>
  <% end %>
  <div class="top-cosme contents">
  <p>What's in your pouch?</p>
    <div class="row">
      <% @img.each do |ele| %>
        <% if ele.item_id == rand(100) %>
          <div class="col-sm-4 col-xs-4 portfolio-item">
            <img src=<%= ele.img_url %> alt="">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="top-img">
    <h4>毎日のメイクをコーディネイト</h4>
    <%= image_tag('cosmekko_logo.jpeg', :class => "logo") %>
    <p>同じコスメを持っている<br>ユーザーとつながれます</p>
  </div>
  <div class="top-search">
    <% if signed_in? %>
    <span class="search_link"><%= link_to "コスメを検索","/items/search" %></span>
    <% else %>
    <span class="search_link"><%= link_to "コスメを検索", new_user_session_path %></span>
    <% end %>
  </div>
</div>
<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flexslider-min.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
