<div class="contents">
  <%= form_for current_user do |f| %>
    <div class="form-group">
      <h4>ユーザー情報変更</h4>
      <ul>
      <li>ユーザーネーム</li>
      <li><%= f.text_field :user_name, placeholder: "ユーザーネーム", class: "form-control" %></li>
      <li>プロフィール※200文字以内</li>
      <li><%= f.text_field :profile, placeholder: "プロフィール", class: "form-control", :size=>"200×50", :maxlength=>"200" %></li>
      <li>プロフィール画像</li>
      <li><%= f.file_field :icon, class: "form-control floating-label", placeholder: "画像アップロード" %></li>
      </ul>
    </div>
    <div class="form-group">
      <span><%= f.submit "更新", class: "btn" %></span>
    </div>
  <% end %>
</div>
