<div class="clearfix move-down">
  <ul><li><h3><%= @user.user_name %></h3></li>
  <li><%= image_tag(@user.icon(:medium), :class => "mypage_icon") %></li></ul>
  <div class="container">
    <article>
      <p>あなたのコスメを登録しましょう！</p>
      <span class="search_link">
        <%= link_to "コスメを検索","/items/search" %>
      </span>
    </article>
  </div>
</div>
<div class="move-little-down">
  <article class="pouch">
    <p>▽Your Pouch</p>
    <section id="portfolio">
        <div class="row">
          <% @reviews.each do |review| %>
          <div class="col-xs-3 portfolio-item">
          <ul>
            <li><%= review.item.name %></li>
            <li><%= review.item_img.color %></li>
            <li><%= link_to image_tag(review.item_img.img_url), item_review_path(review.item_id,review.id) %></li>
          </ul>
          </div>
        <% end %>
      </div>
    </section>
  </article>
</div>