<div class="contents">
  <ul><li><p><%= @user.user_name %></p></li>
  <!-- アイコン未設定時の対応 -->
  <% if signed_in? %>
    <% unless current_user.full_profile? %>
      <div class="header_top panel panel-default col-lg-12 no-profile" style="padding:100px;">
        <p>ご登録ありがとうございます！まずはプロフィール設定をしましょう！</p>
        <%= link_to "プロフィール登録", edit_user_path(current_user), { class: "btn btn-lg" } %>
      </div>
    <% else %>
      <li><%= image_tag(@user.icon(:medium), :class => "mypage_icon") %></li></ul>
    <% end %>
  <% else %>
  <li><%= image_tag(@user.icon(:medium), :class => "mypage_icon") %></li>
  <% end %>
  <div class="contents">
    <article>
    <% if current_user == @user %>
      <span class="search_link">
        <%= link_to "コスメを検索","/items/search" %>
      </span>
    <% end %>
    </article>
  </div>
</div>
<div class="contents">
  <article>
    <% if current_user == @user %>
      <%= image_tag('cosmekko_logo.png', :class => "logo") %>
      <%= image_tag('cosmekko_gip.png', :class => "logo") %>
      <p>▽Your Pouch</p>
    <% else %>
      <%= image_tag('cosmekko_logo.png', :class => "logo") %>
      <%= image_tag('cosmekko_gip.png', :class => "logo") %>
      <p>▽<%= @user.user_name %>'s Pouch</p>
    <% end %>
    <section id="portfolio">
        <div class="row">
          <% @reviews.each do |review| %>
          <div class="col-xs-4 portfolio-item">
          <ul>
            <!-- <li><%= review.item.name %></li> -->
            <!-- <li><%= review.item_img.color %></li> -->
            <li><%= link_to image_tag(review.item_img.img_url), item_review_path(review.item_id,review.id) %></li>
          </ul>
          </div>
        <% end %>
      </div>
    </section>
  </article>
  <div class="contents move-little-down">
    <%= image_tag('cosmekko_logo.png', :class => "logo") %>
    <%= image_tag('cosmekko_gip.png', :class => "logo") %>
    <p>ほかのユーザー</p>
    <% @other_users.each do |user| %>
      <ul>
      <div class="col-xs-4">
        <li><%= user.user_name %></li>
        <li><%= link_to image_tag(user.icon, :class => "other_user_icon"),  user_path(user.id) %></li>
      </div>
      </ul>
    <% end %>
  </div>
</div>