<div class="search_form">
  <h3>検索</h3>
  <div class="item_search">
    <%= form_tag('/items/search', method: :get) do %>
      <input name="keyword" placeholder="アイテム名で検索" type="string" value=""><button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true" type="submit"></span></button></input>
    <% end %>
  </div>
  <div class="brand_search">
    <%= form_tag('/items/search', method: :get) do %>
      <input name="keyword" placeholder="ブランド名で検索" type="string" value=""><button class="btn-search" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></input>
    <% end %>
  </div>
</div>

<h4>カテゴリから探す</h4>
<%= form_tag('/items/search', method: :get) do %>
    <ul>
      <% @categories.each do |category|%>
          <li><input name="category_input" type="hidden" value=<%= category.category %>></input></li>
      <% end %>
      <button type="submit"><%= category.category %></button>
    </ul>
<% end %>

<article class="section">
  <div class="container">
    <h2>検索結果</h2>
    <!-- アイテムの検索結果 -->
    <% @search_items.each do |item| %>
      <ul>
      <li><%= item.name %></li>
      <li><%= item.value %></li>
      <li>
      <% item.item_imgs.each do |img| %>
        <%= image_tag img.img_url %>
        <%= img.color %>
      <% end %>
      </li>
      </ul>
    <% end %>
    <!-- ブランドの検索結果 -->
    <% @search_brand.each do |brand| %>
    <ul>
    <li><%= brand.brand %></li>
    </ul>
    <% end %>
<!-- カテゴリの検索結果 -->
    <% @cat.each do |ele| %>
      <% ele.items.each do |item|%>
        <%= item.name %>
      <% end %>
    <% end %>
  </div>
</article>