<div class="container">
  <h2><span class="glyphicon glyphicon-pencil"></span>コスメ登録</h2>
  <ul>
    <li><%= @items.find(params[:item_id]).name %></li>
    <li><%= image_tag @item_imgs.find(params[:item_img_id]).img_url %></li>
    <li><%= @item_imgs.find(params[:item_img_id]).color %></li>
  </li>
</div>

<div class="container">
  <%= form_for [@item, @review] do |f| %>
    <%= f.number_field :how_often, placeholder: '使用頻度',value: 1, max: 5, min: 1 %>
    <%= f.text_area :review, placeholder: 'どんなふうに使ってる？使い心地は？'%>
    <%= f.hidden_field :item_img_id,value: params[:item_img_id] %>
    <%= button_tag type="submit" do %>
    登録する
    <% end %>
  <% end %>
</div>