<div class="contents move-down">
  <ul>
  <li><%= image_tag(@review.item_img.img_url) %></li>
  <li><%= @review.item.name %></li>
  <li><%= @review.item_img.color %></li>
  <li><%= @review.how_often %></li>
  <p><%= @review.review %></p>
  </ul>
</div>
