<div class="contents">
  <ul>
  <li><%= @review.item.item_brand.brand %></li>
  <li><%= @review.item.name %></li>
  <li><%= image_tag(@review.item_img.img_url) %></li>
  <li><%= @review.item_img.color %></li>
  <br>
  <p>comments</p>
  <%= image_tag('cosmekko_logo.jpeg', :class => "logo") %>
  <li><%= @review.how_often %></li>
  <p><%= @review.review %></p>
  </ul>
</div>
<div class="contents">
  <p>このアイテムがポーチに入っているユーザー</p>
  <%= image_tag('cosmekko_logo.jpeg', :class => "logo") %>
    <% @review.item.reviews.each do |review| %>
      <div class="col-xs-4">
        <ul><li><%= review.user.user_name %></li>
        <li><%= link_to image_tag(review.user.icon, :class => "other_user_icon"),  user_path(review.user.id) %></li></ul>
      </div>
    <% end %>
</div>
