<header>
  <div class="">
  <a href=<%= root_path %>><%= image_tag('cosmekko_logo.jpeg', :class => "logo") %></a>
    <ul>
      <% unless signed_in? %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
      <% if signed_in? %>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>
        <li><%= link_to '設定', edit_user_path(current_user) %></li>
        <li><%= link_to 'ログアウト', '/users/sign_out',method: :delete %></li>
      <% end %>
    </ul>
  </div>
</header>