<header>
  <div class="header">
  <span>cosmekko</span>
  <a href=<%= root_path %>><%= image_tag('cosmekko_logo.png', :class => "logo") %></a>
  </div>
<!--     <ul class="dropdown">
      <li><a class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
      <ul class="dropdown-menu"> -->
  <div class="menu">
    <% unless signed_in? %>
      <span><%= link_to 'ログイン', new_user_session_path %></span>
    <% end %>
    <% if signed_in? %>
      <span><%= link_to 'マイページ', user_path(current_user) %></span>
      <span><%= link_to 'ログアウト', '/users/sign_out',method: :delete %></span>
    <% end %>
  </div>
<!--     </ul>
    </li>
    </ul> -->
</header>