<!DOCTYPE html>
<html class="no-js" lang='ja'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!--これより下はテンプレのタグ-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-icon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--ここまで-->
    <title>oriapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <div class="container">
  <body>
    <!-- header top section -->
    <section class="banner" role="banner">
      <header id="header">
        <div class="header-content clearfix">
          <a class="logo">
          <p>logo</p>
          </a>
          <!--メニューバー-->
          <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <li><%= link_to 'HOME', root_path %></li>
                <li><%= link_to 'MY PAGE', user_path(current_user) %></li><!--user_pathはresourcesのヘルパーメソッド-->
                <% if current_user.id %>
                  <%= link_to 'ユーザー情報変更', edit_user_path(current_user) %>
                <% end %>
                <li><%= link_to 'ログアウト', '/users/sign_out',method: :delete %></li>
            </ul>
          </nav>
         <!--メニューバー-->
         </div>
      </header>
    </section>
    <!-- header top section --> 

<!-- header content section --> 
    <%= yield %>
<!-- footer section -->
<footer class="footer">
  <div class="col-md-6 right">
    <p>© 2016 All rights reserved. All Rights Reserved<br>
      Made with <i class="fa fa-heart pulse"></i> by SawaNatsumi</p>
  </div>
</footer>
<!-- footer section --> 
</body>
</div>

</html>